<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @tv_category.category %>
</p>

<%= link_to 'Edit', edit_tv_category_path(@tv_category) %> |
<%= link_to 'Back', tv_categories_path %>
