

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

<div class="video">

<p>
  <strong><%= @film_listing.name %></strong>
</p>

<%= raw(@film_listing.videolink) %>

</div>

<div>

<p>
<strong>Share your favorite quote from this movie</strong>
</p>




</div>


        </div>
        <div class="col-md-3"></div>
      </div>


