
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-11">

	<h1>New Song Suggestion</h1>

<%= render 'form' %>

<%= link_to 'Back', music_listings_path %>

</div><div class="col-md-1"></div>